.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.navbar:hover {
    background-color: #f9f86c;
}

.navbar__logo {
    margin-left: 50px;
}

.navbar img {
    width: 120px;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar__menu ul {
    list-style-type: none;
    display: inline-block;
}

.navbar__menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-family: Pangea,sans-serif;

}

.navbar__action {
    margin-right: 50px;
}

.navbar__action img {
    width: 20px;
    margin-right: 20px;
}

