.create-user {
  background-color: white;
  margin: 20px;
  position: relative;

  &__body {
    padding: 20px 20px 47px 20px;

    .create-user__form-container {
      width: 100%;

      button[type="submit"] {
        position: absolute;
        bottom: 20px;
        right: 44px;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        background-color: #ff6c03;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        &:hover {
          background-color: #f94412;
          transition: all 0.15s ease-in;
        }
      }
      .create-user__form-item {
        display: flex;
        flex-direction: column;

        label {
          font-size: 18px;
        }

        input,
        select {
          margin-top: 8px;
          flex: 1;
          font-size: 18px;
          padding: 8px;
          transition: all 0.12s ease-out;
          border-radius: 4px;
          border: 1px solid #999;

          &:focus {
            border-color: red;
          }

          &:focus-visible {
            outline: none;
          }
        }
      }
    }
  }
}
