.curriculum {
  padding: 10px;
  background-color: #fff;
  transition: 0.1s all ease-in-out;
  &:hover {
    background-color: #eee;
  }
}

.create-new-section-wrapper {
  border: 1px solid #444;

  .new-section {
    font-size: 16px;
    padding: 8px;
    width: 100%;
  }

  .cancel-btn {
    color: #ea602a;
    background-color: #fff;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .create-section {
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(7, 23, 23);
    padding: 8px;
    &:hover {
      background-color: #000;
    }
  }
}

.add__new-lecture {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: #ee4d2d;
  background-color: #fff;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  border: 1px dotted #000;
  min-width: 120px;
  svg {
    margin-right: 8px;
  }
}

.create__new-lecture {
}
