// Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}
