.Slideshow_item {
    display: flex;
    border-radius: 16px;
    height: 270px;
    overflow: hidden;
    background: linear-gradient(to right, rgb(40, 119, 250), rgb(103, 23, 205));
}

.Slideshow_left {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 1.6rem;
    justify-content: center;
    line-height: 1.6;
    max-width: 100%;
    padding: 0 36px 36px;
    width: 640px;
}

.Slideshow_heading {
    margin-bottom: 8px;
}

.Slideshow_heading a {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
}

.Slideshow_desc {
    margin-bottom: 24px;
    margin-top: 0;
    max-width: 600px;
}
.Slideshow_decs {
    font-size: 1rem;
}

.Slideshow_right {
    display: flex;
    flex: 3 1;
    justify-content: flex-end;
}

.Slideshow_right .Slideshow_img {
    height: 100%;
    object-fit: cover;
}

.slick-slide img {
    display: block;
}