* {
    margin: 0;
    padding: 0;
}

.Sidebar_wrap {
    position: fixed;
    background-color: #fff;
    border-right: 1px solid #ccc;
    top: var(--height);
}

ul {
    width: 100%;
    list-style-type: none;
}

.name {
    font-size: 14px;
    padding: 10px 0;
}

.Sidebar_wrapper {
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    position: sticky;
    top: 74px;
}

.Profile_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid #e8ebed;
}

.profile-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.sidebar_list {
    /* width: ; */
    padding: 0;
    justify-content: center;
}

li {
    padding: 27px 10px;
}

span {
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.manage_wrapper {
    border-bottom: 1px solid #e8ebed;
}

.sidebar_home {
    border-bottom: 1px solid #e8ebed;
}

.dashboard_wrapper {
    display: flex;
    justify-content: center;
}

.sidebar_wrapper {
    display: flex;
    justify-content: center;
}

.home_wrapper {
    display: flex;
    justify-content: center;
}

.logout_wrapper {
    display: flex;
    justify-content: center;
}